
<html> 
<head>
    <title>Registration</title>
     
</head>
<body>
    <div class="container"> 
            <form method="POST" action="/addData">
                <h2>Registration</h2>
                <div>
                    <label>Name</label>
                    <input type="text" name="name" required>
                </div>
                <div>
                    <label>ID</label>
                    <textarea class="form-control" name="address" required></textarea>
                </div>
                <div>
                    <label>Height</label>
                    <input type="text"  name="contact" required>
                </div>
                <div>
                     <label>Weight</label>
                    <input type="text" name="mail" required>
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form> 
    </div>
</body>
</html>
<script>
    $(document).ready(function(){
        $("form").attr("autocomplete","off");
    });
</script>